

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}
a:hover {
  color: white;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#id_contain_import {
  display: flex;
  justify-content: end;
}
#content-id-description {
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
}

button:hover {
  border-color: #8388ec;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }


}
@media only screen and (max-width: 600px)  {
  #content-id-description {
    display: block;
    justify-content: center;
    margin-bottom: 3%;
  }
  
}

